{% extends 'base.html' %}

{% block titulo %}Borrar Configuración de Respaldo{% endblock %}

{% block encabezado %}Borrar Configuración de Respaldo{% endblock %}

{% block contenido %}
  <form method="post" action="{% url 'borrar_configuracion_respaldo' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="servidorBorrar" class="form-label">Selecciona el Servidor a Borrar:</label>
      <select class="form-select" id="servidorBorrar" name="servidorBorrar" required>
        {% for servidor in servidores %}
          <option value="{{ servidor.id }}">{{ servidor.nombre }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-danger">Borrar Configuración</button>
  </form>
{% endblock %}
