{% extends 'base.html' %}

{% block titulo %}Borrar configuracion{% endblock %}

{% block encabezado %}Borrar configuracion de respaldo{% endblock %}

{% block contenido %}
  <form method="post" action="{% url 'borrar_Respaldo' %}">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="idRespaldo" class="form-label">Selecciona el Respaldo a Borrar</label>
      <select class="form-select" id="idRespaldo" name="idRespaldo" required>
        {% for respaldo in respaldos %}
          <option value="{{ respaldo.id }}">{{ respaldo.fecha_respaldo }} - {{ respaldo.otro_campo }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-danger" id="enviarborrar">Borrar Respaldo</button>
  </form>
{% endblock %}

