{% extends 'base.html' %}

{% block titulo %}Configuraciones de Respaldo{% endblock %}

{% block encabezado %}Configuraciones de Respaldo{% endblock %}
{% block contenido %}
  <div class="container mt-4">
    <form method="post" action="{% url 'borrar_configuracion' %}" class="mb-3">
      {% csrf_token %}
      <div class="table-responsive">
        <h5>Selecciona la configuracion que deseas borrar:</h5>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Borrar</th> <!-- seleccion de borrado -->
              <th>ID</th>
              <th>IP Origen</th>
              <th>Directorio Origen</th>
              <th>Periodicidad</th>
              <th>Fecha Respaldo</th>
            </tr>
          </thead>
          <tbody>
            {% for configuracion in configuraciones_respaldo %}
              <tr>
                <td>
                  <input type="radio" name="configuracion" value="{{ configuracion.id }}">
                </td>
                <td>{{ configuracion.id }}</td>
                <td>{{ configuracion.ip_origen }}</td>
                <td>{{ configuracion.directorio_origen }}</td>
                <td>{{ configuracion.periodicidad }}</td>
                <td>{{ configuracion.fecha_respaldo }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary">Borrar Configuración</button>
    </form>
  </div>
{% endblock %}
