{% extends 'base.html' %}
{% block scripts %}
<script src="/static/js/reportes.js"></script>
{% endblock %}

{% block titulo %}Reporte de Ejecución de Respaldos{% endblock %}

{% block encabezado %}Reporte de Ejecución de Respaldos{% endblock %}

{% block contenido %}
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Hora y Fecha</th>
          <th>Estado</th>
          <th>Nombre del Archivo</th>
        </tr>
      </thead>
      <tbody id="reportes"> 
        {% for respaldo in respaldos %}
          <tr>
            <td>{{ respaldo.hora|date:'Y-m-d H:i:s' }}</td>  <!-- acceso a la hora del respaldo -->
            <td>{% if respaldo.estado == 'exitoso' %}Éxito{% else %}Fallo{% endif %}</td>
            <td>{{ respaldo.nombre }}</td>  <!-- acceso al nombre del respaldo -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
